.banner-principal__img
  img
    animation: float 6s ease-in-out infinite

@keyframes float
  0%
    transform: translatey(0px)
  50%
    transform: translatey(-20px)
  100%
    transform: translatey(0px)

.banner-principal__componente
  h1
    color: #0a4d8f !important

.banner-principal__img img
  width: 60%
  max-width: 60%
  margin-left: auto

.BG01
  background-color: lighten($color-primario, 23%) !important
.BG02
  background-color: lighten($color-secundario, 15%) !important
.BG03
  background-color: lighten($color-acento-contenido, 22%) !important
.BG04
  background-color: lighten($color-acento-botones, 20%) !important

.BG10, .bloque-texto-a.color-primario, .cajon.color-primario, .tabs-c__content-item
  background-color: lighten($color-primario, 30%) !important
.BG20
  background-color: lighten($color-secundario, 31%) !important
.BG30
  background-color: lighten($color-acento-contenido, 31%) !important
.BG40
  background-color: lighten($color-acento-botones, 36%) !important

.BG29
  background-color: darken($color-secundario, 25%) !important

.BG299
  background-color: $color-secundario !important

.BGgris01, .tabs-a__tab
  background-color: $color-sistema-h

.BGgris02
  background-color: $color-sistema-f

.etiqueta
  background-color: lighten($color-acento-contenido, 30%) !important
  color: black !important

.bgImg01
  background-image: url("../assets/curso/tema1/bg01.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgImg02
  background-image: url("../assets/curso/tema1/bg02.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgImg03
  background-image: url("../assets/curso/tema1/bg03.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgImg04
  background-image: url("../assets/curso/tema1/bg04.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.roundedStart
  border-radius: 20px 20px 0 0 !important

.roundedEnd
  border-radius: 0 0 20px 20px !important

.rounded01
  border-radius: 120px 0 120px 0 !important

.rounded011
  border-radius: 60px 0 60px 0 !important

.rounded0111
  border-radius: 50px 0 50px 0 !important

.rounded02
  border-radius: 80px 18px 80px 18px !important

.rounded03
  border-radius: 0px 0px 80px 0px !important

.rounded04
  border-radius: 18px !important

.sz01
  max-width: 60px !important

.sz02
  min-height: 359px

  @media screen and (max-width: 991px)
    min-height: 200px

.sz03
  max-width: 120px !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  border: 2px solid $color-acento-botones !important
  opacity: 1 !important

.bloque-texto-a::before
  left: 0 !important
  right: 60% !important

  @media screen and (max-width: 991px)
    width: 100%
    margin-bottom: 16px

.mnTop01
  margin-top: -100px !important

.mTop01
  margin-top: 100px !important

.mTop02
  margin-top: 60px !important

.Clist01
  li
    i
      color: $color-secundario !important

.Clist02
  li
    i
      color: $color-acento-contenido !important

.lista-ul li ul .lista-ul__vineta::before
  content: '• '

.bgImg05
  background-image: url("../assets/curso/tema2/bg01.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgImg06
  background-image: url("../assets/curso/tema2/bg02.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.pasos-a.color-acento-contenido .pasos-a__circle div
  color: white

.TextC01, .tabs-c__tab
  color: $color-secundario !important

.tabs-c__tab
  font-size: 80pt
  font-weight: bolder

.tabs-c__content-item
  padding: 30px
  border-radius: 18px

.tabs-c
  border: none

.bgImg07
  background-image: url("../assets/curso/tema4/bg01.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  background-color: #FFFAE2

.slyder-a__tipo-a .slyder-a__bullets
  bottom: 25px !important

.bgPCT
  background-position: center top !important

.brdC01
  border: 2px solid $color-acento-botones

.horizontal-scroll
  align-items: start !important

.bgImg08
  background-image: url("../assets/curso/tema8/img01.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgImg09
  background-image: url("../assets/curso/tema8/img02.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgImg10
  background-image: url("../assets/curso/tema8/img03.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgImg11
  background-image: url("../assets/curso/tema8/img04.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

button.ColHid
  background: transparent !important

.BG01Hov
  .BG01HovChg
    background-color: lighten($color-acento-botones, 20%)

.BG01Hov:hover , .BG01Hov:focus, .FXG
  .BG01HovChg
    background-color: $color-acento-botones
  
.Brdbtn01
  border-bottom: 8px solid white

.minH01
  min-height: 580px

  @media screen and (max-width: 991px)
    min-height: 660px

.cajon-b::before
  top: 5% !important
  bottom: 14% !important

.pdnLeft01
  padding-left: 30px !important

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  color: white !important

.linea-tiempo-c__header__item .linea-tiempo-c__header__item__year
  font-size: 1em !important
  padding: 0 8px 0 8px !important